.assistant-chat {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    padding: 10px;
    width: var(--chat-width);
    height: 500px;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 12px;
}

#userInput {
    width: var(--chat-width);
    margin-bottom: 10px;
    resize: none;
    overflow: hidden;
    border-radius: 8px;
}