:root {
  --chat-width: 475px;

  --color-bg: #b3d9ff;
  --color-primary: #1db954;
  --color-primary-hover: #17a44a;
  --color-light: #f5f5f5;
  --color-border: #ccc;

  --color-primary-text: #166534;
  --color-muted-text: #444;

  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
}


body {
    margin: 0;
    padding-top: 30px;
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
}